<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Aquamarine</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light app-navbar border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Aquamarine</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarMain">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (ViewBag.Logado == true)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Aquario" asp-action="Index">Aquários</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Peixe" asp-action="Index">Peixes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="SmartLamp" asp-action="Personalizar">Personalização</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle " href="#" data-toggle="dropdown">Consultas</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="Consulta" asp-action="Peixes">Peixes</a>
                                    <a class="dropdown-item" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Sobre" asp-action="Index">Sobre</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/swagger" target="_blank">API Swagger</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Login" asp-action="LogOff">Sair</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Login" asp-action="Index">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Login" asp-action="Cadastrar">Cadastrar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Sobre" asp-action="Index">Sobre</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - GlitterComputer - Aquário Inteligente PBL
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
