@model ErrorViewModel
@{
    ViewData["Title"] = "Ocorreu um erro... :/";
}

<h2 class="text-danger">Um erro ocorreu durante o processamento da sua requisição. </h2>

<p>
    <strong>Detalhes do erro: </strong> 
    <code> @Model.Erro </code>
</p> 